#root {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

h1,
h2 {
  font-size: clamp(1rem, 4vw, 3.5rem);
  line-height: clamp(1rem, 4vw, 3.5rem);
  margin: 0;
}

#navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: flex-end;
  box-sizing: border-box;
  z-index: 700;
  line-height: clamp(2rem, 15vw, 4rem);
}

#navbar *:focus {
  outline: none;
}

.navWrapper {
  background-color: white;
  margin-right: 10%;
}

#navbar a {
  color: #A0A0A0;
  cursor: pointer;
  padding: 0 clamp(0.3rem, 3vw, 1rem);
  font-size: clamp(0.5rem, 3vw, 1.5rem);
  font-weight: 500;
  position: relative;
  -webkit-tap-highlight-color: #d7d7d762;
  text-decoration: none;
}


#navbar a:nth-of-type(1) span {
  animation: navBarBlinks 0.5s ease-in 2s;
}

#navbar a:nth-of-type(2) span {
  animation: navBarBlinks 0.5s ease-in 2.3s;
}

#navbar a:nth-of-type(3) span {
  animation: navBarBlinks 0.5s ease-in 2.6s;
}

#navbar .chosenA {
  text-decoration: underline;
  text-decoration-thickness: clamp(0.1rem, 1vw, 0.3rem);
  text-decoration-color: #E23E32;
  text-underline-offset: clamp(0.3rem, 2vw, 0.6rem);
  color: black;
}

#navbar a:hover {
  color: black;
}

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  position: relative;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headerBgImage {
  background-image: url("assets/headerBG.png");
  mask: url("assets/curve.png") no-repeat center / 100% 100%;
  width: 100%;
  aspect-ratio: 959 / 520;
  margin: 0 auto;
  background-size: cover;
}

.curve {
  width: 100%;
  aspect-ratio: 959 / 520;
  background-color: #1E1C1D;
  mask: url("assets/curve1.png") no-repeat right / 100% 100%;
  z-index: 300;
  position: absolute;
}

.headerDecorativeElem {
  display: flex;
  position: absolute;
  z-index: 500;
  transform: translateY(-5rem);
  left: 8%;
  top: 1rem;
  bottom: 15%;
}

.header h1 {
  position: absolute;
  z-index: 600;
  color: white;
  top: 60%;
  left: 8%;
  transform: translateY(-70%);
  font-size: clamp(2rem, 10vw, 8rem);
  line-height: 1;
}

.header .headerH1Jap {
  color: #E23E32;
}

.headerDecorativeRec1 {
  position: relative;
  width: clamp(1.5rem, 2vw, 2rem);
  background-color: #1E1C1D;
  top: 0;
  bottom: 50%;
  transform-origin: bottom;
}

.headerDecorativeRec1.animatedRec1 {
  animation: decorativeElemAnimation1 0.5s ease-out 0.5s both;
}

.headerDecorativeRec2.animatedRec2 {
  animation: decorativeElemAnimation2 0.5s ease-in 1s forwards;
}

.headerDecorativeRec2 {
  background-color: #1E1C1D;
  width: 0;
  height: clamp(2.3rem, 4vw, 4rem);
  color: white;
  position: absolute;
  z-index: 200;
  text-align: center;
  line-height: clamp(2.3rem, 4vw, 4rem);
  font-size: clamp(0.8rem, 3vw, 2rem);
  overflow: hidden;
}

.bgImgUnderMainInfo {
  position: absolute;
  background-image: url("./assets/mainInfoBg.png");
  right: -9%;
  top: 0;
  height: 130%;
  width: clamp(80%, 90%, 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: -100;
  transform-origin: top right;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: clamp(-5rem, -7vw, -1rem);
  z-index: 200;
}

.mainLayoutLineWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  max-width: 85%;
}

.mainLayoutLineWrapper:nth-of-type(2) {
  position: relative;
}

.theatersRedCircle {
  background-color: #E23E32;
  position: relative;
  border-radius: max(20%, 40rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(0.5rem, 8vw, 1rem);
  margin: 0 clamp(0.5rem, 5vw, 2rem) clamp(0.5rem, 5vw, 2rem) clamp(0.5rem, 5vw, 2rem);
  max-width: 80%;
  height: 100%;
  aspect-ratio: 1;
  padding: clamp(1rem, 5vw, 1.5rem);
  box-sizing: border-box;
}

.theatersWrapper::after {
  content: "";
  border: clamp(0.15rem, 0.2vw, 0.4rem) solid #1E1C1D;
  border-radius: 50%;
  width: clamp(0.5rem, 1vw, 3rem);
  aspect-ratio: 1 / 1;
  bottom: clamp(0rem, 4vw, 5rem);
  left: clamp(0.5rem, 4vw, 9rem);
  position: absolute;
  animation: fishFlash 3s ease-in infinite;
}

.theatersRedCircle h2 {
  color: white;
  margin: clamp(0.5rem, 10vw, 2rem) 0 0 0;
}

.theatersRedCircle span {
  color: white;
  overflow-wrap: break-word;
  text-align: center;
  font-size: clamp(0.5rem, 5vw, 1rem);
  width: 80%;
  display: inline;
}

.theatersRedCircle h1 {
  color: #1E1C1D;
  font-size: clamp(2rem, 7vw, 8rem);
  margin-bottom: clamp(1rem, 3vw, 5rem);
  margin-top: clamp(1rem, 2vw, 2rem);
  white-space: nowrap;
}

.theatersWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.waveWrapperAnotherOne {
  position: relative;
  width: 100%;
  height: clamp(0.5rem, 5vw, 2rem);
}

.waveWrapper {
  overflow-x: hidden;
  transform: translateX(clamp(-8rem, -5vw, -1rem));
  width: 100%;
  height: clamp(0.5rem, 5vw, 4rem);
  max-width: clamp(80%, 20vw, 120%);
  position: absolute;
}

.theaterCurveContainer {
  display: flex;
  animation: waveMove 10s linear infinite;
  position: relative;
  width: max-content;
  margin: auto 0;
  flex-shrink: 0;
}

.theaterCurve {
  width: 100%;
  flex-shrink: 0;
}

.theaterCurve1 {
  width: 100%;
  flex-shrink: 0;
}

.ukiyoWrapper {
  box-sizing: border-box;
  padding: clamp(0.5rem, 7vw, 2rem);
  background-color: #1E1C1D;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.ukiyoFish {
  position: absolute;
  max-width: clamp(1rem, 3.5vw, 6rem);
  right: clamp(-9rem, -5vw, 0rem);
  top: 10rem;
  stroke-width: clamp(1rem, 3.5vw, 2rem);
  animation: fishFlash 3s ease-in infinite;
}

.ukiyoDecorativeRec {
  width: 2rem;
  height: clamp(0.3rem, 1vw, 0.5rem);
  background-color: white;
  margin-top: clamp(1rem, 5vw, 2rem);
  transform-origin: left;
  opacity: 50%;
  animation: decorativeRec 3s ease-in-out infinite;
}

.ukiyoRedH1 {
  color: #E23E32;
  margin: 0;
}

.ukiyoWrapper h1 {
  color: #A0A0A0;
  margin: 0;
}

.ukiyoDesc {
  color: #A0A0A0;
  margin-top: 1rem;
  text-align: justify;
}

.ukiyoPreText {
  color: #535353;
  margin: 0;
}

.sushiBgElem {
  background-color: white;
  border: #E23E32 solid clamp(0.2rem, 1vw, 0.5rem);
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding-bottom: clamp(0.5rem, 1vw, 1rem);
}


.suchiElemIconsRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-left: 2rem;
}

.sushiContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sushiBench {
  width: clamp(30%, 20vw, 20rem);
  margin-bottom: clamp(1rem, 3vw, 3rem);
}

.sushiIconEight {
  background-color: #E23E32;
  color: white;
  font-size: clamp(0.5rem, 4vw, 2rem);
  line-height: clamp(1rem, 10vw, 6rem);
  height: clamp(1rem, 10vw, 6rem);
  width: auto;
  aspect-ratio: 1/1;
  text-align: center;
}

.sushiIconEyeContainer {
  background-color: #1E1C1D;
  line-height: clamp(1rem, 10vw, 6rem);
  height: clamp(1rem, 10vw, 6rem);
  aspect-ratio: 1;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sushiIconEye {
  width: 50%;
  animation: eyeAnim 3s ease-in-out infinite;
}

.cameraIconBird {
  width: 50%;
  animation: cameraAnim 3s ease-in-out infinite;
}

.sushiChopsticks {
  transform: translateX(20%);
  margin-top: clamp(0.2rem, 3vw, 1rem);
  width: clamp(5rem, 10vw, 12rem);
}

.sushiBgElem h2 {
  color: #1E1C1D;
  margin: 0;
  text-align: center;
  margin-bottom: 0.5rem;
}

.lifeBirdWrapper {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.lifeBirdElemIconsRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-top: clamp(0.5rem, 3vw, 1rem);
  position: absolute;
  border-top: transparent solid clamp(0.2rem, 1vw, 0.5rem);
}

.lifeBirdElemIconsRow .sushiIconEyeContainer {
  background-color: white;
}

.lifeBirdElemIconsRow .cameraIconBird {
  stroke: black;
}

.lifeBirdIcon {
  width: clamp(6rem, 15vw, 15rem);
  height: 100%;
  aspect-ratio: 1;
}

.travelWrapper {
  background-color: #E2E2E2;
  width: 50%;
}

.travelWrapper h1 {
  color: #1E1C1D;
  margin: 0;
  text-align: center;
  margin-bottom: 0.5rem;
}

.travelTextWrapper {
  box-sizing: border-box;
  padding: clamp(0.5rem, 7vw, 2rem);
  margin-bottom: clamp(1rem, 8vw, 5rem);
  text-align: center;
}

.travelDesc {
  color: black;
  margin-top: 1rem;
  display: block;
}

.travelIconsRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
  margin-right: 0rem;
  margin-bottom: 0rem;
}

.BridgeAndFishWrapper {
  content: "";
  position: relative;
  width: 50%;
}

.BridgeNotFish {
  position: absolute;
  bottom: clamp(1rem, calc(9rem - 15.8vw), 19rem);
  right: clamp(-16rem, calc(32rem - 11vw), -5rem);
  width: clamp(10rem, 31vw, 27rem);
}

.fishNotBridge {
  position: relative;
  top: 8rem;
  left: -5rem;
}

.fishSchool {
  position: absolute;
  width: clamp(10rem, 16vw, 20rem);
  top: clamp(3rem, calc(14rem - 6vw), 14rem);
  left: clamp(-6rem, calc(0rem - 4vw), 3rem);
}

.fishSchool * {
  position: absolute;
  stroke-width: clamp(1rem, 3.5vw, 2rem);
  max-width: clamp(1rem, 3.5vw, 6rem);
}

.oneFishInSchool {}

.fishSchool *:nth-child(1),
.fishSchool *:nth-child(5),
.fishSchool *:nth-child(4) {
  animation: fishFlash 3s ease-in infinite;
}

.fishSchool *:nth-of-type(2),
.fishSchool *:nth-of-type(3),
.fishSchool *:nth-of-type(6) {
  animation: fishFlash 3s ease-in infinite 1s forwards;
}

.ukiyoWrapper .historyH1White {
  color: white;
}

.modernEraWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  padding: clamp(0.5rem, 7vw, 2rem);
  position: relative;
  padding-bottom: 0;

}

.modernEraWrapper h1 {
  margin-top: 1.5rem;
  color: #1E1C1D;
  text-align: center;
}

.modernEraWrapper::after {
  content: "";
  border: clamp(0.15rem, 0.2vw, 0.4rem) solid #1E1C1D;
  border-radius: 50%;
  width: clamp(0.5rem, 1vw, 3rem);
  aspect-ratio: 1 / 1;
  bottom: 0;
  right: clamp(0rem, 3vw, 13rem);
  position: absolute;
  animation: fishFlash 3s ease-in infinite;
}

.modernEraIcon {
  margin-top: auto;
  width: clamp(8rem, 30vw, 15rem);
}

.modernEraWrapper span {
  width: 70%;
  text-align: center;
  margin-bottom: clamp(0.2rem, 5vw, 1rem);
}

footer {
  text-align: center;
  color: #1E1C1D;
  width: 100%;
  border-top: #dbd5d5 0.1rem solid;
  padding: 1rem 0;
  line-height: clamp(1rem, 5vw, 2rem);
}

#sushiFoodNamesElem {
  font-size: clamp(1rem, 4vw, 3.5rem);
  line-height: clamp(1rem, 4vw, 3.5rem);
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sushiBgElem h2:nth-child(1) {
  margin: 0;
  margin-top: clamp(0.5rem, 5vw, 1rem);
}

#flip {
  height: 1em;
  overflow: hidden;
  text-align: center;
  line-height: 1em;
}

#flip>div>div {
  color: #E23E32;
  height: 1em;
  display: inline-block;
}

#flip div:first-child {
  animation: show 7s linear infinite;

}

@keyframes show {
  0% {
    transform: translateY(-3em);
  }

  5% {
    transform: translateY(-2em);
  }

  33% {
    transform: translateY(-2em);
  }

  38% {
    transform: translateY(-1em);
  }

  66% {
    transform: translateY(-1em);
  }

  71% {
    transform: translateY(0em);
  }

  99.9999% {
    transform: translateY(0em);
  }

  100% {
    transform: translateY(-3em);
  }
}

@keyframes decorativeElemAnimation2 {
  0% {
    width: 0;
  }

  100% {
    width: auto;
    padding-left: clamp(0.5rem, 2vw, 1rem);
    padding-right: clamp(0.5rem, 2vw, 1rem);
  }
}

@keyframes cameraAnim {
  20% {
    transform: rotate(0deg);
  }

  28% {
    transform: rotate(20deg);
  }

  44% {
    transform: rotate(-15deg);
  }

  55% {
    transform: rotate(5deg);
  }

  60% {
    transform: rotate(0deg);
  }

}

@keyframes eyeAnim {
  0% {}

  60% {
    transform: scaleY(100%);
  }

  70% {
    transform: scaleY(0%);
  }

  80% {
    transform: scaleY(100%);
  }
}

@keyframes decorativeRec {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(1.5);
    opacity: 100%;
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes fishFlash {
  50% {
    opacity: 50%;
  }
}

@keyframes decorativeElemAnimation1 {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes navBarBlinks {
  50% {
    transform: translateY(-0.8rem);
  }
}

@keyframes waveMove {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@media(max-width:768px) {
  .content span:not(.headerH1Jap):not(.ukiyoRedH1):not(.sushiIconEight) {
    font-size: clamp(0.5rem, 5vw, 1rem);
  }

  h1,
  h2 {
    font-size: clamp(1rem, 8vw, 3.5rem);
    line-height: clamp(1rem, 8vw, 3.5rem);
    margin: 0;
  }

  #flip {
    margin: 0;
    font-size: clamp(1rem, 8vw, 3.5rem);
    line-height: clamp(1rem, 8vw, 3.5rem);
  }

  footer {
    font-size: clamp(0.5rem, 5vw, 1rem);
  }

  #root {
    padding-top: 0px;
  }

  .mainLayoutLineWrapper {
    flex-direction: column;
    align-items: center;
  }

  .mainLayoutLineWrapper>* {
    width: 95%;
  }

  .headerDecorativeElem {
    display: none;
  }

  #navbar a {
    padding: 0rem clamp(0.3rem, 3vw, 2rem);
    font-size: clamp(0.5rem, 4vw, 1.2rem);
  }

  .navWrapper {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #navbar {
    justify-content: center;
    padding: 0;
  }

  .content {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    position: relative;
  }


  .travelTextWrapper {
    box-sizing: border-box;
    padding: clamp(0.5rem, 7vw, 2rem);
    margin-bottom: 0;
    text-align: center;
  }

  .header {
    width: 100%;
  }

  .header h1 {
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    font-size: clamp(1.5rem, 10vw, 8rem);
  }

  .mainLayout {
    top: clamp(-1.5rem, -7vw, -0.5rem);
  }


  .waveWrapper {
    transform: translateX(0);
    max-width: 100%;
  }

  .lifeBirdWrapper {
    display: none;
    position: absolute;
  }

  .BridgeAndFishWrapper {
    display: none;
    position: absolute;
  }

  .ukiyoFish {
    display: none;
  }

  .modernEraIcon {
    margin-top: auto;
    width: clamp(8rem, 30vw, 10rem);
  }


  .bgImgUnderMainInfo {
    display: none;
  }

  .navbar {
    padding-right: 0rem;
  }

  .sushiChopsticks {
    display: none;
  }

  .theatersWrapper::after {
    border: clamp(0.15rem, 0.5vw, 1rem) solid #1E1C1D;
    width: clamp(0.5rem, 2vw, 3rem);
    bottom: clamp(1rem, 7vw, 5rem);
    left: clamp(1rem, 7vw, 8rem);
  }

  .modernEraWrapper::after {
    right: clamp(0rem, 12vw, 10rem);
  }

  .theatersRedCircle {
    aspect-ratio: inherit;
  }

  .theatersRedCircle h1 {
    color: #1E1C1D;
    font-size: clamp(2rem, 12vw, 10rem);
    margin-bottom: clamp(1rem, 4vw, 5rem);
    white-space: nowrap;
  }
}