#root {
  display: block;
  margin: 0;
  padding: 0.5rem;
  padding-top: 2rem;
}

#navbar {
  display: flex;
  gap: 2rem;
  position: sticky;
  justify-content: center;
  padding-left: 20%;
}

#navbar a {
  color: #A0A0A0;
  cursor: pointer;
}

#navbar .chosenA {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: #E23E32;
  text-underline-offset: 10px;
  color: black;
}

#navbar a:hover {
  color: black;
}

.header {
  margin: 3rem auto 0rem;
  position: relative;
  background-image: url("assets/headerBG.png");

  width: 100%;
  max-width: 959px;
  aspect-ratio: 959 / 520;
}


.headerDecorativeElem {
  display: flex;
  position: absolute;
  z-index: 100;
  transform: translateY(-15%);
  left: 5.5rem;
}

.header h1 {
  position: absolute;
  z-index: 200;
  color: white;
  top: 50%;
  left: 5rem;
  transform: translateY(-70%);
  font-size: 5rem;
}

.header .headerH1Jap {
  color: #E23E32;
}

.headerDecorativeRec1 {
  background-color: #1E1C1D;
  width: 25px;
  height: 400px;
}

.headerDecorativeRec2 {
  background-color: #1E1C1D;
  width: 120px;
  height: 25px;
  color: white;
  position: absolute;
  z-index: 200;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}