#root {
  display: block;
  margin: 0;
  padding: 0.5rem;
  padding-top: 2rem;
}

#navbar {
  display: flex;
  gap: 2rem;
  position: sticky;
  justify-content: center;
  padding-left: 30%;
  z-index: 400;
}

#navbar a {
  color: #A0A0A0;
  cursor: pointer;
}

#navbar .chosenA {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: #E23E32;
  text-underline-offset: 10px;
  color: black;
}

#navbar a:hover {
  color: black;
}





.header {
  margin: 3rem auto 0rem;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 959px;
}

.headerBgImage {
  background-image: url("assets/headerBG.png");
  mask: url("assets/curve.png") no-repeat center / 100% 100%;
  width: 100%;
  max-width: 959px;
  aspect-ratio: 959 / 520;
  margin: 0 auto;
    background-size: cover;
}

.curve {
  width: 100%;
  max-width: 959px;
  aspect-ratio: 959 / 520;
  background-color: #1E1C1D;
  mask: url("assets/curve1.png")no-repeat right / 100% 100%;
  z-index: 300;
  position: absolute;
}

.headerDecorativeElem {
  display: flex;
  position: absolute;
  z-index: 100;
  transform: translateY(-5rem);
  left: 5.5rem;
  top: 0rem;
  margin: 0 auto;
  bottom: 25%;
}

.header h1 {
  position: absolute;
  z-index: 300;
  color: white;
  top: 50%;
  left: 5rem;
  transform: translateY(-70%);
  font-size: 5rem;
}


.header .headerH1Jap {
  color: #E23E32;
}

.headerDecorativeRec1 {
  position: relative;
  width: 25px;
  background-color: #1E1C1D;

  top: 0px;
  bottom: 50%;
}

.headerDecorativeRec2 {
  background-color: #1E1C1D;
  width: 120px;
  height: 25px;
  color: white;
  position: absolute;
  z-index: 200;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  line-height: 25px;
}



.mainLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.theatersRedCircle {
  background-color: #E23E32;
  clip-path: circle();
  padding: 0.8rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.theatersWrapper::after {
  content: "";
  border: 0.25rem solid #1E1C1D;
  border-radius: 50%;
  width: 1rem;
  aspect-ratio: 1/1;
  margin-top: 1rem;
  transform: translateX(-8.5rem) translateY(-3.5rem);

}

.theatersRedCircle h2 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
  overflow-wrap: break-word;
}

.theatersRedCircle span {
  color: white;
  overflow-wrap: break-word;
  padding: 0rem 3rem;
  text-align: center;
  max-width: 40%;
}

.theatersRedCircle h1 {
  color: #1E1C1D;
  font-size: 4.5rem;
  margin-top: 1.5rem;
}

.theatersWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theatersCurveImg {
  width: 35%;
  height: auto;
  transform: translateX(-50%);
  position: absolute;
  top: 13rem;
}